@{
    
    ViewData["Title"] = "Home Page";
    var userAgent = Context.Request.Headers["User-Agent"].ToString().ToLower();
    
    // Nhận diện các từ khóa phổ biến của thiết bị di động
    bool isMobile = userAgent.Contains("mobi") ||
                    userAgent.Contains("android") ||
                    userAgent.Contains("iphone");

    // Chọn layout tương ứng
    if (isMobile)
    {
        Layout = "_LayoutMobile"; // Dùng cho điện thoại
    }
    else
    {
        Layout = "_Layout";       // Dùng cho máy tính (Desktop)
    }
}

<div>
    <div id="QuickChuyenDiBox">
        <form method="post" asp-controller="Home" asp-action="taoChuyenDiWDiemDen">
            <div id="iconHolder">
                <img />
            </div>
            <div>
                <input type="text" name="diemDen" id="diemDen" placeholder="Bạn muốn đi đâu?" />
            </div>
            <div>
                <button type="submit">Đi</button>
            </div>
        </form>
    </div>
</div>

