@{
    
    ViewData["Title"] = "Home Page";
}

<div>
    <div id="QuickChuyenDiBox">
        <form method="post" asp-controller="Home" asp-action="taoChuyenDiWDiemDen">
            <div id="iconHolder">
                <img />
            </div>
            <div>
                <input type="text" name="diemDen" id="diemDen" placeholder="Bạn muốn đi đâu?" />
            </div>
            <div>
                <button type="submit">Đi</button>
            </div>
        </form>
    </div>
</div>
